{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<!-- <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div> -->
<div class="container">
<div class="table-responsive" >
<table class="table">
    <thead>
        <tr>            
            <th>  ID  </th>
            <th>  name  </th>
            <th>  initial_investment_amt  </th>
            <th>  nav  </th>
            <th>  Shares Outstanding  </th>
            <th>  dollars_available  </th>
            <th>  dollars_invested  </th>
            <th>  total_mf_sector  </th>
            <th>  portfolio id  </th>
            <th>  Add to Portfolio  </th>
        </tr>
    </thead>
    <tbody>
        {% if data %} 
        {% for mf_row in results %}
            <tr>
                <td>{{  mf_row.id  }}</td>
                <td>{{  mf_row.name  }}</td>
                <td>${{  mf_row.initial_investment_amt  }}</td>
                <td>${{  mf_row.nav  }}</td>
                <td>{{  mf_row.shares_outstanding  }}</td>
                <td>${{  mf_row.dollars_available  }}</td>
                <td>${{  mf_row.dollars_invested  }}</td>
                <td>{{  mf_row.total_mf_sector  }}%</td>
                <td> {{  mf_row.portfolio_id  }} </td>
                <td>
                    <a href="{{url_for('addMutualFund', id=mf_row.id, pid=pid)}}">
                        <button type="button">  Add  </button></a>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
</div>

{% if add_mf  %}
<div class="container">
    <h3>Add To Portfolio Holdings</h3>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(port_form) }}
        </div>
    </div>
    </div>
{%  endif  %}
</div>
{% endblock %}