{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>

<div class="table-responsive" >
<table class="table">
    <thead>
        <tr>
            <th>  ID  </th>
            <th>  name  </th>
            <th>  dollars  </th>
            <th>  total_mf_sector  </th>
            <th>  Add to Portfolio  </th>
        </tr>
    </thead>
    <tbody>
        {% if data %} 
        {% for row in results %}
            <tr>
                <td>{{  row.id  }}</td>
                <td>{{  row.name  }}</td>
                <td>${{  row.dollars  }}</td>
                <td>{{  row.total_mf_sector  }}%</td>
                <td>
                    <a href="{{url_for('addMutualFund', id=row.id, pid=pid)}}">
                        <button type="button">  Add  </button></a>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
</div>

{% endblock %}