{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>

<div class="table-responsive" >
<table class="table">
    <thead>
        <tr>
            <th>  id  </th>
            <th>  ticker_symbol  </th>
            <th>  legal_name  </th>
            <th>  total_shares  </th>
            <th>  current_price  </th>
            <th>  Add to Mutual Fund  </th>
        </tr>
    </thead>
    <tbody>
        {% if data %} 
        {% for row in results %}
            <tr>
                <td>{{  row.id  }}</td>
                <td>{{  row.ticker_symbol  }}</td>
                <td>{{  row.legal_name  }}</td>
                <td>{{  row.total_shares  }}</td>
                <td>${{  row.current_price  }}</td>
                <td>
                    <a href="{{url_for('addtoHoldings', id=row.id, pid=pid)}}">
                        <button type="button">  Add  </button></a>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
</div>

{% endblock %}