{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% if test_cfp %}
<div class="container">  
    {%  for val in current_mf  %}
    <h3> Current Mutual Fund:  {{  val.name  }}</h3>
    <ul>
        <li>Dollar Amount Available: {{  val.dollars_available  }} </li> 
    </ul>

    
    {%  endfor  %}
</div>
{%  endif  %}
<div class="container">
    <div class="table-responsive" >
        <table class="table">
            <thead>
                <tr>
                    <th>  id  </th>
                    <th>  ticker_symbol  </th>
                    <th>  legal_name  </th>
                    <th>  current_share_price  </th>
                    <th>  total_number_shares  </th>
                    <th>  shares_avail  </th>
                    <th>  initial_offering_price  </th>
                    <th>  Sector  </th>
                    <th>  Add To Current Fund Price </th>
                </tr>
            </thead>
            <tbody> 
                {% if stonk_data%}
                {% for s_row in results %}
                    <tr>
                        <td>{{  s_row.id  }}</td>
                        <td>{{  s_row.ticker_symbol  }}</td>
                        <td>{{  s_row.legal_name  }}</td>
                        <td>$ {{  s_row.current_share_price  }}</td>
                        <td>{{  s_row.total_number_shares  }}</td>
                        <td>{{  s_row.shares_avail  }}</td>
                        <td>${{ s_row.initial_offering_price  }}</td>
                        <td>{{  s_row.sector_id  }}</td>
                        <td>
                            <a href="{{url_for('addHoldings', id=s_row.id)}}">
                                <button type="button">Add</button></a>
                        </td>
                    </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        </div>




{% endblock %}