{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
<div class="table-responsive" >
    <table class="table">
        <thead>
            <tr>
                <th>  id  </th>
                <th>  port_id_hold  </th>
                <th>  mf_id_hold  </th>
                <th>  Mutual Fund Shares  </th>
                <th>  Mutual Fund NAV  </th>
                <th>  Portfolio Amount Invested  </th>
                <th>  Edit/Delete  </th>
            </tr>
        </thead>
        <tbody> 
            {% if hold_data%}
            {% for holds in hold_results %}
                <tr>
                    <td>{{  holds.id  }}</td>
                    <td>{{  holds.port_id_hold  }}</td>
                    <td>{{  holds.mf_id_hold }}</td>
                    <td>{{  holds.mf_shares  }}</td>
                    <td>{{  holds.mf_nav  }}</td>
                    <td>{{  holds.port_amount_invested  }}</td>
                    <td> 
                        <a href="{{url_for('editUser', id=holds.id)}}">
                            <button type="button">  Edit  </button></a>
                        <a href="{{url_for('deleteUser', id=holds.id)}}">
                            <button type="button">  Delete  </button></a>
                    </td>    
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>
    </div>

{% endblock %}