{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}

<h3>Search Users</h3>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>

<!-- User Table -->
<div class="table-responsive" >
    <table class="table">
        <thead>
            <caption>  Users  </caption>
            <tr>
                <th>  id  </th>
                <th>  username  </th>
                <th>  email  </th>
                <th>  hash  </th>
                <th>  Edit/Delete  </th>
            </tr>
        </thead>
        <tbody> 
            {% if user_data %}
            {% for person in user_results %}
                <tr>
                    <td>{{  person.id  }}</td>
                    <td>{{  person.username  }}</td>
                    <td>{{  person.email }}</td>
                    <td>{{  person.password_hash  }}</td>
                    <td> 
                        <a href="{{url_for('editUser', id=person.id)}}">
                            <button type="button">  Edit  </button></a>
                        <a href="{{url_for('deleteUser', id=person.id)}}">
                            <button type="button">  Delete  </button></a>
                    </td>    
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>

<!-- Portfolios Table, 1:m [User : Portfolios]; m:m [Portfolios : Mutual_Funds, Relationship Table: Holdings] -->
<div class="table-responsive" >
    <table class="table">
        <thead>
            <caption>  Portfolios  </caption>
            <tr>
                <th>  id  </th>
                <th>  name  </th>
                <th>  initial_dollars  </th>
                <th>  dollars_invested_port  </th>
                <th>  user_id  </th>
                <!-- <th> Mutual Funds </th> -->
                <th>  Edit/Delete  Mutual Funds</th>
                <th>  Edit/Delete  Portfolio</th>
            </tr>
        </thead>
        <tbody> 
            {% if port_data %} 
            {% for port_row in port_results %}
                <tr>
                    <td>{{  port_row.id  }}</td>
                    <td>{{  port_row.name  }}</td>
                    <td>${{  port_row.initial_dollars  }}</td>
                    <td>${{  port_row.dollars_invested_port  }}</td>
                    <td>{{  port_row.user_id  }}</td>
                    <!-- <td>{{  port_row.mf_port_rel  }}</td> -->
                    <td>
                        <a href="{{url_for('viewMutualFunds', id=port_row.id)}}">
                            <button type="button">View</button></a>
                        <a href="{{url_for('addMutualFundtoPortfolio', id=port_row.id)}}">
                            <button type="button">Add</button></a>
                    </td>
                    <td>
                        <a href="{{url_for('editPortfolio', id=port_row.id)}}">
                            <button type="button">  Edit  </button></a>
                        <a href="{{url_for('deletePortfolio', id=port_row.id)}}">
                            <button type="button">  Delete  </button></a>
                    </td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>

<!-- Holdings Table, m:m [portfolios : mutual funds]  -->

<div class="table-responsive" >
    <table class="table">
        <thead>
            <caption> Holdings </caption>
            <tr>
                <th>  id  </th>
                <th>  port_id_hold  </th>
                <th>  mf_id_hold  </th>
                <th>  amount_invested  </th>
                <th>  total_shares_invested  </th>
                <th>  initial_share_price  </th>
                <th>  current_share_price  </th>
                <th>  Edit/Delete  </th>
            </tr>
        </thead>
        <tbody> 
            {% if hold_data%}
            {% for holds in hold_results %}
                <tr>
                    <td>{{  holds.id  }}</td>
                    <td>{{  holds.port_id_hold  }}</td>
                    <td>{{  holds.mf_id_hold }}</td>
                    <td>{{  holds.amount_invested  }}</td>
                    <td>{{  holds.total_shares_invested  }}</td>
                    <td>{{  holds.initial_share_price  }}</td>
                    <td>{{  holds.current_share_price  }}</td>
                    <td> 
                        <a href="{{url_for('editUser', id=holds.id)}}">
                            <button type="button">  Edit  </button></a>
                        <a href="{{url_for('deleteUser', id=holds.id)}}">
                            <button type="button">  Delete  </button></a>
                    </td>    
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>

<!-- Mutual Funds Table, m:m [Portfolios : Mutual_Funds, Relationship table: Holdings]; m:m [Mutual_Funds : Stocks, Relationship Table : current_fund_price] -->

<div class="table-responsive" >
    <table class="table">
        <thead>
            <caption>  Mutual Funds  </caption>
            <tr>
                <th>  ID  </th>
                <th>  name  </th>
                <th>  initial_investment_amt  </th>
                <th>  dollars_available  </th>
                <th>  dollars_invested  </th>
                <th>  mf_share_price  </th>
                <th>  total_mf_sector  </th>
                <th>  portfolio id  </th>
                <th>  Edit/Delete  </th> 
                <th>  Stocks  </th>
                <th>  Current Fund Price  </th>
            </tr>
        </thead>
        <tbody>
            {% if mf_data%} 
            {% for mf_row in mf_results %}
                <tr>
                    <td>{{  mf_row.id  }}</td>
                    <td>{{  mf_row.name  }}</td>

                    <td>${{  mf_row.initial_investment_amt  }}</td>
                    <td>${{  mf_row.dollars_available  }}</td>
                    <td>${{  mf_row.dollars_invested  }}</td>
                    <td>${{  mf_row.mf_share_price  }}</td>
                    <td>{{  mf_row.total_mf_sector  }}%</td>
                    <td> {{  mf_row.portfolio_id  }} </td>
                    <td>
                        <a href="{{url_for('editMutualFunds', id=mf_row.id)}}">
                            <button type="button">  Edit  </button></a>
                        <a href="{{url_for('deleteMutualFunds', id=mf_row.id)}}">
                            <button type="button">  Delete  </button></a>
                    </td>
                    <td>
                        <a href="{{url_for('viewHoldings', id=mf_row.id)}}">
                            <button type="button">View</button></a>
                        <a href="{{url_for('addHoldings', id=mf_row.id)}}">
                            <button type="button">Add</button></a>
                    </td>
                    <td>  
                        <a href="{{url_for('currentFundPrice', id=mf_row.id)}}">
                            <button type="button">CFP</button></a>
                    </td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>

<!-- Current_Fund_Price Table m:m [Mutual_Funds : Stocks]  -->

<div class="table-responsive" >
    <table class="table">
        <thead>
            <caption>  Current_Fund_Price  </caption>
            <tr>
                <th>  id  </th>
                <th>  mf_id  </th>
                <th>  stocks_id </th>
                <th>  number_shares  </th>
                <th>  price_per_share  </th>
                <th>  Edit/Delete  </th>
            </tr>
        </thead>
        <tbody> 
            {% if cfp_data%}
            {% for cfp_row in cfp_results %}
                <tr>
                    <td>{{  cfp_row.id  }}</td>
                    <td>{{  cfp_row.mf_id  }}</td>
                    <td>{{  cfp_row.stocks_id  }}</td>
                    <td>{{  cfp_row.number_shares  }}</td>
                    <td>${{  cfp_row.price_per_share  }}</td>
                    <td> 
                        <a href="{{url_for('editStocks', id=cfp_row.id)}}">
                            <button type="button">  Edit  </button></a>
                        <a href="{{url_for('deleteStocks', id=cfp_row.id)}}">
                            <button type="button">  Delete  </button></a>
                    </td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>


<!-- Stocks Table, 1:m [Stocks:Sectors]; m:m [Mutual_Funds : Stocks ]  -->
<div class="table-responsive" >
    <table class="table">
        <thead>
            <caption>  Stocks  </caption>
            <tr>
                <th>  id  </th>
                <th>  ticker_symbol  </th>
                <th>  legal_name  </th>
                <th>  total_shares_circulation  </th>
                <th>  total_shares_available  </th>
                <th>  initial_price  </th>
                <th>  current_price  </th>
                <th>  Sector  </th>
                <th>  Edit/Delete  </th>
            </tr>
        </thead>
        <tbody> 
            {% if stonk_data%}
            {% for s_row in stonk_results %}
                <tr>
                    <td>{{  s_row.id  }}</td>
                    <td>{{  s_row.ticker_symbol  }}</td>
                    <td>{{  s_row.legal_name  }}</td>
                    <td>{{  s_row.total_shares_circulation  }}</td>
                    <td>{{  s_row.total_shares_available  }}</td>
                    <td>{{  s_row.initial_price  }}</td>
                    <td>${{ s_row.current_price  }}</td>
                    <td>{{  s_row.sector_id  }}</td>
                    <td> 
                        <a href="{{url_for('editStocks', id=s_row.id)}}">
                            <button type="button">  Edit  </button></a>
                        <a href="{{url_for('deleteStocks', id=s_row.id)}}">
                            <button type="button">  Delete  </button></a>
                    </td>
                    
    
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>


<!-- Sectors table -->
<div class="table-responsive" >
    <table class="table">
        <thead>
            <caption>  Sectors  </caption>
            <tr>
                <th>  id  </th>
                <th>  name  </th>
                <th>  Edit/Delete  </th>
            </tr>
        </thead>
        <tbody> 
            {% if sector_data%}
            {% for sect_row in sector_results %}
                <tr>
                    <td>{{  sect_row.id  }}</td>
                    <td>{{  sect_row.name  }}</td>
                    <td> 
                        <a href="{{url_for('editStocks', id=sect_row.id)}}">
                            <button type="button">  Edit  </button></a>
                        <a href="{{url_for('deleteStocks', id=sect_row.id)}}">
                            <button type="button">  Delete  </button></a>
                    </td>
                    
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>


{% endblock %}