{% extends "base.html" %}
{% block content %}
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  {{  charts_init }}
</head>

<body>
  
  <!-- Block to test row input -->
  {%  if stock_sects %}
    <div class="container">
      <ul> 
        {{sect_out}}
        {% for row in sect_out %}
        <li> {{row}}  </li>
        {%  endfor  %}
      </ul>  
    </div>
  {%  endif  %}


  <div class="container">
    {{  charts.my_chart }}
  </div>



</body>

{% endblock %}