{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>

<div class="table-responsive" >
<table class="table">
    <thead>
        <tr>
            <th>  ID  </th>
            <th>  name  </th>
            <th>  initial_dollars  </th>
            <th>  dollars_invested_port</th>
            <th>  Mutual Funds  </th>
            <th>  Edit/Delete  </th>
        </tr>
    </thead>
    <tbody>
        {% if data %} 
        {% for row in results %}
            <tr>
                <td>{{  row.id  }}</td>
                <td>{{  row.name  }}</td>
                <td>${{  row.initial_dollars  }}</td>
                <td>${{  row.dollars_invested_port  }}</td>
                <td>
                    <a href="{{url_for('viewMutualFunds', id=row.id)}}">
                        <button type="button">View</button></a>
                    <a href="{{url_for('addMutualFundtoPortfolio', id=row.id)}}">
                        <button type="button">Add</button></a>
                </td>
                <td>
                    <a href="{{url_for('editPortfolio', id=row.id)}}">
                        <button type="button">  Edit  </button></a>
                    <a href="{{url_for('deletePortfolio', id=row.id)}}">
                        <button type="button">  Delete  </button></a>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
</div>

{% if view %}
<div class="table-responsive" >
    <table class="table">
        <thead>
            <tr>
                <th>  ID  </th>
                <th>  name  </th>
                <th>  dollars  </th>
                <th>  total_mf_sector  </th>
            </tr>
        </thead>
        <tbody>
            {% if data %} 
            {% for row in Mresults %}
                <tr>
                    <td>{{  row.id  }}</td>
                    <td>{{  row.name  }}</td>
                    <td>${{  row.dollars  }}</td>
                    <td>{{  row.total_mf_sector  }}%</td>

                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endif %}


{% if grow %}
<h3>Add Portfolio</h3>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(add_form) }}
    </div>
</div>
{% endif %}

{% endblock %}