{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
<div class="table-responsive" >
    <table class="table">
        <thead>
            <caption>  Mutual Funds  </caption>
            <tr>
                <th>  ID  </th>
                <th>  name  </th>
                <th>  initial_investment_amt  </th>
                <th>  dollars_available  </th>
                <th>  dollars_invested  </th>
                <th>  mf_share_price  </th>
                <th>  total_mf_sector  </th>
                <th>  portfolio id  </th>
                <th>  Edit/Delete  </th> 
                <th>  Stocks  </th>
                <th>  Current Fund Price  </th>
               
            </tr>
        </thead>
        <tbody>
            {% if data%} 
            {% for mf_row in mf_results %}
                <tr>
                    <td>{{  mf_row.id  }}</td>
                    <td>{{  mf_row.name  }}</td>
                    <td>${{  mf_row.initial_investment_amt  }}</td>
                    <td>${{  mf_row.dollars_available  }}</td>
                    <td>${{  mf_row.dollars_invested  }}</td>
                    <td>${{  mf_row.mf_share_price  }}</td>
                    <td>{{  mf_row.total_mf_sector  }}%</td>
                    <td> {{  mf_row.portfolio_id  }} </td>
                    <td>
                        <a href="{{url_for('editMutualFunds', id=mf_row.id)}}">
                            <button type="button">  Edit  </button></a>
                        <a href="{{url_for('deleteMutualFunds', id=mf_row.id)}}">
                            <button type="button">  Delete  </button></a>
                    </td>
                    <td>
                        <a href="{{url_for('viewHoldings', id=mf_row.id)}}">
                            <button type="button">View</button></a>
                        <a href="{{url_for('addHoldings', id=mf_row.id)}}">
                            <button type="button">Add</button></a>
                    </td>
                    <td>  
                        <a href="{{url_for('currentFundPrice', id=mf_row.id)}}">
                            <button type="button">CFP</button></a>
                    </td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% if view %}
<div class="table-responsive" >
    <table class="table">
        <thead>
            <tr>
                <th>  ID  </th>
                <th>  ticker symbol  </th>
                <th>  legal name  </th>
                <th>  total shares  </th>
                <th>  current price  </th>
            </tr>
        </thead>
        <tbody>
            {% if data %} 
            {% for row in Mresults %}
                <tr>
                    <td>{{  row.id  }}</td>
                    <td>{{  row.ticker_symbol  }}</td>
                    <td>${{  row.legal_name  }}</td>
                    <td>{{  row.total_shares  }}%</td>
                    <td>{{  row.current_price  }}%</td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endif %}

{% if grow%}
<h3>Add Mutual Funds</h3>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(add_form) }}
    </div>
</div>
{% endif %}

{% endblock %}