{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>

<div class="table-responsive" >
    <table class="table">
        <thead>
            <tr>
                <th>  id  </th>
                <th>  ticker_symbol  </th>
                <th>  legal_name  </th>
                <th>  total_shares_circulation  </th>
                <th>  total_shares_available  </th>
                <th>  initial_price  </th>
                <th>  current_price  </th>
                <th>  Sector  </th>
                <th>  Edit/Delete  </th>
            </tr>
        </thead>
        <tbody> 
            {% if stonk_data%}
            {% for s_row in stonk_results %}
                <tr>
                    <td>{{  s_row.id  }}</td>
                    <td>{{  s_row.ticker_symbol  }}</td>
                    <td>{{  s_row.legal_name  }}</td>
                    <td>{{  s_row.total_shares_circulation  }}</td>
                    <td>{{  s_row.total_shares_available  }}</td>
                    <td>{{  s_row.initial_price  }}</td>
                    <td>${{ s_row.current_price  }}</td>
                    <td>{{  s_row.sector_id  }}</td>
                    <td> 
                        <a href="{{url_for('editStocks', id=s_row.id)}}">
                            <button type="button">  Edit  </button></a>
                        <a href="{{url_for('deleteStocks', id=s_row.id)}}">
                            <button type="button">  Delete  </button></a>
                    </td>
                    
    
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>

{% if grow%}
<h3>Add Stock</h3>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endif %}

{% endblock %}